/* Styles généraux */
body {
  background-color: #e9ecef; /* Couleur de fond plus douce */
  color: #495057; /* Couleur de texte principale */
  font-family: "Arial", sans-serif;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #adb5bd;
}

/* Titre de section */
.container h2 {
  color: #007bff; /* Couleur de titre bleu */
  margin-bottom: 30px;
  font-weight: bold;
}

/* Projets */
.project-item {
  margin-bottom: 5px; /* Espacement entre les projets */
  margin-right: 5px; /* Espacement entre les projets */
  background-color: #fff; /* Fond blanc pour chaque projet */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.project-item img {
  margin-bottom: 20px; /* Augmente l'espace en dessous de l'image */
  padding: 10px; /* Ajoute un espace autour de l'image */
  border-radius: 10px; /* Bords arrondis pour l'image */
}

.project-item h3 {
  color: #007bff; /* Titre du projet en bleu */
  margin-bottom: 10px;
}

.project-item p {
  margin-bottom: 15px; /* Espacement avant le bouton */
}

.project-item .btn {
  background-color: #28a745; /* Couleur verte pour le bouton */
  color: #fff;
}

.project-item .btn:hover {
  background-color: #218838;
}

/* Footer */
footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 10px 0;
}

footer a {
  color: #f8f9fa;
}

footer a:hover {
  color: #ddd;
}
/* Style général */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

/* Navbar personnalisé */
.navbar {
  margin-bottom: 0;
}

/* Style général */
